<nav class='light-blue darken-2'>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">Daniel Simmonds</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href='/'>Home</a></li>
      <li><a href='https://github.com/simmondsdt' target='_blank'>Portfolio</a></li>
      <% if user_signed_in? %>
        <li>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, data: {confirm: 'Are you sure you would like to log out?'} %>
        </li>
      <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li>
      <% end %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href='/'>Home</a></li>
      <li><a href='https://github.com/simmondsdt' target='_blank'>Portfolio</a></li>
      <% if user_signed_in? %>
        <li>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, data: {confirm: 'Are you sure you would like to log out?'} %>
        </li>
      <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
